body {
      font-family: Arial, sans-serif;
      background: #f4f6f9;
      padding: 40px;
}

.container {
      max-width: 600px;
      margin: auto;
      background: white;
      padding: 25px;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0, 1);
}

input,
select {
      width: 100%;
      padding: 8px;
      margin: 6px 0;
      border-radius: 5px;
      border: 1px solid #ccc;
}

button {
      padding: 8px 12px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
}

button:hover {
      opacity: 0.9;
}

.btn-prymary {
      background: #4caf50;
      color: white;
}

.btn-delete {
      background: #e74c3c;
      color: white;
      margin-left: 10px;
}

ul {
      list-style: none;
      padding: 0;
}

li {
      background: #f9f9f9;
      padding: 10px;
      margin-bottom: 8px;
      border-radius: 5px;
}

.saldo {
      font-size: 20px;
      font-weight: bold;
      margin-top: 15px;
}

.cards {
      display: flex;
      gap: 20px;
      margin: 20px 0;
      flex-wrap: wrap;
}

.card {
      flex: 1;
      padding: 20px;
      border-radius: 10px;
      color: white;
      font-weight: bold;
      text-align: center;
}

.income {
      background: #16a34a;
}

.expense {
      background: #dc2626;
}

.saldo {
      background: #2563eb;
}

.chart-container {
      position: relative;
      height: 300px;
      width: 100%;
}

@media (max-width: 768px) {
      .cards {
            flex-direction: column;
      }
}

#chartKeuangan {
      width: 100% !important;
      max-width: 100%;
      height: 300px;
}
